.vs/MedPortal/v15/.suo
.vs/MedPortal/v15/sqlite3/storage.ide
.vs/MedPortal/v15/sqlite3/storage.ide
Core/obj/Debug/netcoreapp2.0/Core.dll
.vs/MedPortal/v15/sqlite3/storage.ide
ClientApp/src/app/doctor-profile/doctor-profile.component.ts
ClientApp/src/app/doctor-profile/doctor-profile.component.ts