div.btn-group-vertical {
    margin: 10% auto;
    min-width: 250px;
	max-width: 400px;
}

.img-profile {
	margin: 10% 10% 0% 10%;
	height: 300px;
	width: 300px;
}

.h-60 {
	height:60%;
}

.h-40 {
	height:40%;
}

.fa2 {
	width: 15px;
}
