.rate {
	width: 920px;
}

.rating {
	width: 450px;
	height: 175px;
	
}

.rating-medie {
	font-size: 700%;
}

.row-rating {
	height: 30px;
	margin-top: 5px;
	margin-left: 1px;
}

.rating-bar {
	min-width: 250px;
	max-width: 250px;
	margin-top: 2px;
}

.rating-nota {
	min-width: 5px;
	max-width: 5px;
	font-size: 80%;
}
.rating-notaMax {
	min-width: 150px;
	max-width: 150px;
}

.feedbackCard {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
}

.feedbackCard-img {
	min-width: 100px;
	max-width: 100px;
}

.feedbackCard-data {
    font-size: 75%;
	min-width: 250px;
	max-width: 250px;
}

.feedbackCard-doctor {
    font-size: 75%;
}

.feedbackCard-info {
	font-size: 80%;
	min-width: 550px;
	max-width: 550px;
}

.container-fluid {
	min-width: 900px;
	max-width: 900px;
}

.bg-blue {
	background-color: #eee;
    border-radius: 3px;
}

.a {
	text-align: center;
	width: 250px;
}




div.btn-group-vertical {
    margin: 10% auto;
    min-width: 250px;
	max-width: 400px;
}

.img-profile {
	margin: 10% 10% 0% 10%;
	height: 250px;
	width: 250px;
}

.h-60 {
	height:60%;
}

.h-40 {
	height:40%;
}

.fa2 {
	width: 20px;
}

.recenzii {
	margin-top: 50px;
}