<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">

<div class="card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">login</h2>
  </div>
</div>
<div class="card-wide mdl-card mdl-shadow--2dp">
<table>
<tr>
<td>user name:</td>
<td><input [(ngModel)]="email" placeholder="user1" matTooltip="Enter User Name" matTooltipPosition="right" /></td>
</tr>
<tr>
<td>password:</td>
<td><input [(ngModel)]="password" placeholder="user1psd"  matTooltip="Enter Password" matTooltipPosition="right" /></td>
</tr>
<tr>
<td></td>
<td><button mat-raised-button color="primary"  (click)="login()">Login</button></td>
<td><button mat-raised-button color="primary"  (click)="logout()">Logout</button></td>
</tr>
</table>
</div> 