<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">

<div class="container" style="width:80%; height:80%; margin-top: 5%; margin-bottom: 5%;">
	<div class="row">
        <div class="col-4 d-inline-block">
          <div class="row align-items-center justify-content-center">
            <img src="https://cdn3.iconfinder.com/data/icons/internet-and-web-4/78/internt_web_technology-13-256.png" class="img-fluid img-profile">
          </div>

          <div class="row h-40 align-middle">
            <div class="btn-group-vertical">
              <button type="button" class="btn btn-info mb-2 px-5">Profilul meu</button>
            </div>
          </div>
        </div>


		<div class="h-100 col-8">
			<div class="row">
				<div class="col-12 my-2">
					<div class="card border-info my-1">
						<div class="card-body">
							<div class="card-text">

								<p class="h2">{{doctor.firstName}} {{doctor.lastName}}
									<small class="text-muted">{{doctor.speciality}}</small>
								</p>
								<p class="lead text-justify">{{doctor.description}}</p>
								<span><i class="fa fa2 fa-address-card"></i>{{doctor.speciality}}</span>
								<br>
								<span><i class="fa fa2 fa-envelope"></i>{{doctor.email}}</span>
								<br>
								<span> <i class="fa fa2 fa-phone"></i>{{doctor.phoneNumber}}</span>
								<br>
								<span> <i class="fa fa2 fa-hospital-o"></i>{{doctor.hospital}}</span>
								<br>
								<span> <i class="fa fa2 fa-map-marker"></i>{{doctor.address}}</span>
								<br>
								<br>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	<div class="row ratingDiv">
		<div class="row rate">
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
				<div class="row a rating-medie rating-medie-stars">
					4.2<!--<i class="text-warning fa fa-star" aria-hidden="true"></i>-->
				</div>

				<div class="row rating-medie-text mx-1 mt-4">

				</div>

			</div>
			<div class="col-md-6 mx-5">
				<div class="rating">
					<div class="row row-rating">
						<div class="col rating-notaMax">
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
						</div>
						<div class="col rating-bar">
							<div class="progress">
								<div class="progress-bar progress-bar-success bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
							</div>
						</div>
						<div class="col rating-nota">
							5
						</div>
					</div>
					<div class="row row-rating">
						<div class="col rating-notaMax">
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
							<i class="text-muted fa fa-star" aria-hidden="true"></i>
						</div>
						<div class="col rating-bar">
							<div class="progress">
								<div class="progress-bar progress-bar-success bg-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%"></div>
							</div>
						</div>
						<div class="col rating-nota">
							1
						</div>
					</div>
					<div class="row row-rating">
						<div class="col rating-notaMax">
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
							<i class="text-muted fa fa-star" aria-hidden="true"></i>
							<i class="text-muted fa fa-star" aria-hidden="true"></i>
						</div>
						<div class="col rating-bar">
							<div class="progress">
								<div class="progress-bar progress-bar-success bg-warning" role="progressbar" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100" style="width:30%"></div>
							</div>
						</div>
						<div class="col rating-nota">
							3
						</div>
					</div>
					<div class="row row-rating">
						<div class="col rating-notaMax">
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
							<i class="text-muted fa fa-star" aria-hidden="true"></i>
							<i class="text-muted fa fa-star" aria-hidden="true"></i>
							<i class="text-muted fa fa-star" aria-hidden="true"></i>
						</div>
						<div class="col rating-bar">
							<div class="progress">
								<div class="progress-bar progress-bar-success bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
							</div>
						</div>
						<div class="col rating-nota">
							0
						</div>
					</div>
					<div class="row row-rating">
						<div class="col rating-notaMax">
							<i class="text-warning fa fa-star" aria-hidden="true"></i>
							<i class="text-muted fa fa-star" aria-hidden="true"></i>
							<i class="text-muted fa fa-star" aria-hidden="true"></i>
							<i class="text-muted fa fa-star" aria-hidden="true"></i>
							<i class="text-muted fa fa-star" aria-hidden="true"></i>
						</div>
						<div class="col rating-bar">
							<div class="progress">
								<div class="progress-bar progress-bar-success bg-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%"></div>
							</div>
						</div>
						<div class="col rating-nota">
							1
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="comment-tabs col-md-12">
			<ul class="nav nav-tabs" role="tablist">
				<li class="mx-4"><a href="#comments_" name="checkStatus" ng-model='checkStatus' (click)='displayComments($event)' role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Citeste recenzii</h4></a></li>
				<li class="mx-4"><a href="#addFeedback_" name="checkStatus" ng-model='checkStatus' (click)='addFeedback($event)' role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Adauga recenzie</h4></a></li>
				<li class="mx-4"><a href="#appointments_" name="checkStatus" ng-model='checkStatus' (click)='checkAppointment($event)'  role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Vezi programari</h4></a></li>
			</ul>
			<div class="tab-content">
				<div id="comments_" style="display:none;" class="tab-pane">
					<div class="row">
						<div class="comments" id="comments">
							<h3 class="mb-2">Recenzii</h3>

							<!-- comment -->
							<div class="comment my-2 row rounded mx-2">
								<div class="comment-avatar col-md-1 col-sm-2 text-center pr-1 my-3">
									<a href=""><img class="mx-auto img-fluid" src="https://cdn0.iconfinder.com/data/icons/human-resources-and-strategy/80/Human_resource_strategy-06-512.png" alt="avatar"></a>
								</div>
								<div class="comment-content col-md-10 col-sm-10 my-2">
									<h6 class="small comment-meta"><a href="#">user</a> 23.12.2017, 2:38</h6>
									<div class="comment-body">
										<p>
											Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback. Text feedback.
											<br>
										</p>
									</div>
								</div>
							</div>
							<!-- /comment -->

							<!-- comment -->
							<div class="comment my-2 row rounded mx-2">
								<div class="comment-avatar col-md-1 col-sm-2 text-center pr-1 my-3">
									<a href=""><img class="mx-auto  img-fluid" src="https://cdn0.iconfinder.com/data/icons/human-resources-and-strategy/80/Human_resource_strategy-06-512.png" alt="avatar"></a>
								</div>
								<div class="comment-content col-md-11 col-sm-10 my-2">
									<h6 class="small comment-meta"><a href="#">user</a> 17.01.2018, 7:35</h6>
									<div class="comment-body">
										<p>
											Text feedback. Text feedback. Text feedback. Text feedback. Text feedback.
											<br>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="addFeedback_" style="display:none;" class="tab-pane">
					<form action="#" method="post" class="form-horizontal" id="commentForm" role="form">
						<div class="form-group">
							<label for="email" class="col-sm-2 control-label">Scrie o recenzie</label>
							<div class="col-sm-10">
								<textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span>Trimite recenzie</button>
							</div>
						</div>
					</form>
				</div>

				<div id="appointments_" style="display:none;" class="tab-pane">
					<div class="row">
						<!-- Start Card -->
						<div class="cardAppointment text-justify">
							<div class="row py-1 my-1 ml-2">
								<div class="col">
									<img class='cardAppointment-img' src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/User_icon_BLACK-01.png/120px-User_icon_BLACK-01.png">
								</div>
								<div class="col-8">
									<div class="row">
										<div class="col cardAppointment-name">
											Nume Prenume
										</div>
									</div>
									<div class="row">
										<div class="col cardAppointment-data">
											13/12/2017
										</div>
									</div>
								</div>
								<div class="col cardAppointment-X">
										X
								</div>

							</div>
							<div class="row px-3 py-3 cardAppointment-info">
								Descrierea problemei pacientului pe foarte scurt. Campul Descriere.
								Descrierea problemei pacientului pe foarte scurt. Campul Descriere.
								Descrierea problemei pacientului pe foarte scurt. Campul Descriere.
							</div>
						</div>
						<!-- End Card -->

						<!-- Start Card -->
						<div class="cardAppointment text-justify">
							<div class="row py-1 my-1 ml-2">
								<div class="col">
									<img class='cardAppointment-img' src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/User_icon_BLACK-01.png/120px-User_icon_BLACK-01.png">
								</div>
								<div class="col-8">
									<div class="row">
										<div class="col cardAppointment-name">
											Nume Prenume
										</div>
									</div>
									<div class="row">
										<div class="col cardAppointment-data">
											13/12/2017
										</div>
									</div>
								</div>
								<div class="col cardAppointment-X">
										X
								</div>

							</div>
							<div class="row px-3 py-3 cardAppointment-info">
								Descrierea problemei pacientului pe foarte scurt. Campul Descriere.
								Descrierea problemei pacientului pe foarte scurt. Campul Descriere.
								Descrierea problemei pacientului pe foarte scurt. Campul Descriere.
							</div>
						</div>
						<!-- End Card -->

						<!-- Start Card -->
						<div class="cardAppointment text-justify my-4">
							<div class="row py-1 my-1 ml-2">
								<div class="col">
									<img class='cardAppointment-img' src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/User_icon_BLACK-01.png/120px-User_icon_BLACK-01.png">
								</div>
								<div class="col-8">
									<div class="row">
										<div class="col cardAppointment-name">
											Nume Prenume
										</div>
									</div>
									<div class="row">
										<div class="col cardAppointment-data">
											13/12/2017
										</div>
									</div>
								</div>
								<div class="col cardAppointment-X">
										X
								</div>

							</div>
							<div class="row px-3 py-3 cardAppointment-info">
								Descrierea problemei pacientului pe foarte scurt. Campul Descriere.
								Descrierea problemei pacientului pe foarte scurt. Campul Descriere.
								Descrierea problemei pacientului pe foarte scurt. Campul Descriere.
							</div>
						</div>
						<!-- End Card -->


						<!-- Start Card -->
						<div class="cardAppointment text-justify my-4">
							<div class="row py-1 my-1 ml-2">
								<div class="col">
									<img class='cardAppointment-img' src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/User_icon_BLACK-01.png/120px-User_icon_BLACK-01.png">
								</div>
								<div class="col-8">
									<div class="row">
										<div class="col cardAppointment-name">
											Nume Prenume
										</div>
									</div>
									<div class="row">
										<div class="col cardAppointment-data">
											13/12/2017
										</div>
									</div>
								</div>
								<div class="col cardAppointment-X">
										X
								</div>

							</div>
							<div class="row px-3 py-3 cardAppointment-info">
								Descrierea problemei pacientului pe foarte scurt. Campul Descriere.
								Descrierea problemei pacientului pe foarte scurt. Campul Descriere.
								Descrierea problemei pacientului pe foarte scurt. Campul Descriere.
							</div>
						</div>
						<!-- End Card -->

					</div>
				</div>
			</div>
		</div>
</div>
