.navcustom .navbar-nav {
    margin-right: 3%;
}

.navcustom .navbar-brand {
    margin: 0;
    margin-bottom: 2%;
    padding: 0;
    width: 20%;
  }
  
  .navcustom .navbar-brand img
  {
    max-height: 230%;
  }

.navcustom .navbar-nav .nav-link{
    font-size: 17px;
}

.autentif {
    font: bold 110% 'century gothic', arial, sans-serif;
}

.navcustom .nav-item .dropdown-menu .login-container {
   width: 500px;
   height: 260px;
}

.loggedin {
    width: 100px;
}

.loggedin .btn {
    background: #d2322d;
}

.loggedin .dropdown-menu .login-container {
    width: 300px;
}

 
.loggedin .dropdown-toggle::after {
    display: none;
}
