<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a href="#"> <img src="assets\img\general\heart-logo_alb.png" alt="test" class="img-responsive" title="Med Portal"> </a>
            </div>
            <div class="col-sm-2">
                <h5>Utile</h5>
                <ul>
                    <li><a href="#">Prima pagină</a></li>
                    <li><a href="#">Înregistrează-te ca doctor</a></li>
                    <li><a href="#">Înregistrează-te ca pacient</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Despre noi</h5>
                <ul>
                    <li><a href="#">Informații companie</a></li>
                    <li><a href="#">Contactează-ne</a></li>
                    <li><a href="#">Recenzii</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Suport</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Forum</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-default">Contactează-ne</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>MedPortal © 2018 </p>
    </div>
  </footer>
  
