.cardAppointment {
	width: 350px;
    font-align: center;
	border: 1px solid #b5b5b5;
	border-radius: 10px;
	min-width: 200px;
	max-width: 500px;
}

.cardAppointment-img {
    height: 40px;
    width: 40px;
}
.cardAppointment-name {
    font-size: 90%;
}

.cardAppointment-data {
    font-size: 70%;
}

.cardAppointment-X {
	font-size: 100%;
}

.cardAppointment-X, .cardAppointment-data, .cardAppointment-name {
	color: #444;
}

.cardAppointment-info {
	color: #999;
    font-size: 75%;
    float: left;
}

.container-fluid {
	width: 63%;
}

.dropdown-toggle {
	margin: 10px auto;
	font-size: 90%;
}

.left-btn {
	margin: 10px 80% auto;
    margin-bottom: 20px;
}