<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">

<div class="mdl-list__item" *ngFor="let character of characters">
	<span class="mdl-list__item-primary-content">
		<i class="material-icons mdl-list__item-avatar">person</i>
		<span>{{character}}</span>
	</span>
	<a class="mdl-list__item-secondary-action mdl-js-ripple-effect mdl-button mdl-js-button mdl-button--icon mdl-button--colored" href="#"><i class="material-icons">star</i></a>
</div>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12" data-aos="fade-left" data-aos-duration="2600" data-aos-once="true" >
					<h1>Bun venit pe platforma</h1>
					<h1>MedPortal</h1>

                </div>
                <div class="col-md-12" align="center" data-aos="fade-right" data-aos-duration="2600" data-aos-once="true" >
						<a class="btn btn-link" href="#"><button type="button" class="btn btn-success btn-lg" type="submit" value="doctor">Înregistrare DOCTOR</button></a>
						 <a class="btn btn-link" href="#"> <button type="button" class="btn btn-info btn-lg" type="submit" value="patient">Înregistrare PACIENT</button></a>
						 <a class="btn btn-link" href="#"><button type="button" class="btn btn-danger btn-lg" type="submit" value="donor">Înregistrare DONATOR</button></a>
                </div>
            </div>
        </div>
        
	</header>

	<div class="row" style="margin-top:7%;margin-bottom:7%;">	
		<div class="container">
				<div class="col-md-4"  align="center" >
						<img src="assets/img/general/ICON-doc.png" class="img-circle mid-img" alt="the-brains">
						<br><br>
						<p class="textt">Ia legătura cu cei mai buni specialiști și obține o programare.</p>
				</div>

				<div class="col-md-4"  align="center" >
						<img src="assets/img/general/ICON-pill.png" class="img-circle mid-img" alt="...">
						<br><br>
						<p class="textt">Găsește tratamentul potrivit economisind timp și energie.</p>
				</div>
				
				<div class="col-md-4"  align="center" >
						<img src="assets/img/general/ICON-heart.png" class="img-circle mid-img" alt="...">
						<br><br>
						<p class="textt">Fii și tu donator și vino în ajutorul celor care au nevoie de tine!</p>
				</div>
		</div>
	</div>
	

	
	<div class="container" style="margin-bottom: 5%;">
		<h1 class="text-center">Găsește doctorul tău</h1>
		<h4 class="subtitle"> Dacă vrei să faci o programare la unul dintre doctorii care sunt înscriși pe platforma MedPortal, primul pas este să găsești un doctor potrivit pentru tine </h4>
				
		<div class="col-md-6 col-md-offset-3" style="margin-top: 30px;">
			
		<!-- Search Form -->
		<form role="form2">
			<!-- Search Field -->
			
			<div class="row">
				<div class="form-group">
					<div class="input-group">
						<input class="form-control" type="text" name="search" placeholder="Caută...">
						<span class="input-group-btn">
                            <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true">Caută</span></button>
                        </span>
					</div>
				</div>
			</div>
		</form>
		<!-- End of Search Form -->
		</div>
	</div>
